In [1]:
!docker exec -it redpanda-1 rpk help

rpk is the Redpanda CLI & toolbox

Usage:
  rpk [flags]
  rpk [command]

Available Commands:
  cloud       Interact with Redpanda cloud
  cluster     Interact with a Redpanda cluster
  connect     A stream processor for mundane tasks - https://docs.redpanda.com/redpanda-connect
  container   Manage a local container cluster
  debug       Debug the local Redpanda process
  generate    Generate a configuration template for related services
  group       Describe, list, and delete consumer groups and manage their offsets
  help        Help about any command
  iotune      Measure filesystem performance and create IO configuration file
  plugin      List, download, update, and remove rpk plugins
  profile     Manage rpk profiles
  redpanda    Interact with a local Redpanda process
  registry    Commands to interact with the schema registry
  security    Manage Redpanda security
  topic       Create, delete, produce to and consume from Redpanda topics
  transform   Develop, deploy and manage Redpanda data transforms
  version     Prints the current rpk and Redpanda version

Flags:
      --config string            Redpanda or rpk config file; default
                                 search paths are
                                 "/var/lib/redpanda/.config/rpk/rpk.yaml",
                                 $PWD/redpanda.yaml, and
                                 /etc/redpanda/redpanda.yaml
  -X, --config-opt stringArray   Override rpk configuration settings; '-X
                                 help' for detail or '-X list' for terser
                                 detail
  -h, --help                     Help for rpk
      --profile string           rpk profile to use
  -v, --verbose                  Enable verbose logging
      --version                  version for rpk

Use "rpk [command] --help" for more information about a command.

What's next?
  Try Docker Debug for seamless, persistent debugging tools in any container or image → docker debug redpanda-1
  Learn more at https://docs.docker.com/go/debug-cli/

In [2]:
!docker exec -it redpanda-1 rpk topic create test_1

TOPIC   STATUS
test_1  OK

What's next?
  Try Docker Debug for seamless, persistent debugging tools in any container or image → docker debug redpanda-1
  Learn more at https://docs.docker.com/go/debug-cli/

In [1]:
import json

from kafka import KafkaProducer

def json_serializer(data):
    return json.dumps(data).encode('utf-8')

server = 'localhost:9092'

producer = KafkaProducer(
    bootstrap_servers=[server],
    value_serializer=json_serializer
)

producer.bootstrap_connected()

True

In [4]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'
!wget $url

--2025-03-18 15:10:11--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
connected. to github.com (github.com)|140.82.121.3|:443...
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250318%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250318T141011Z&X-Amz-Expires=300&X-Amz-Signature=8643cd3199e6ca221c4a3c48158ad858d018d1f7ae55eee4a67557d33ef68f12&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-03-18 15:10:12--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250318%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250318T141011Z&X-Amz-Expires=300&X-Amz-Signature=8643cd3199e6ca221c4a3c48158ad858d018d1f7ae55eee4a67557d33ef68f12&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
200 OKequest sent, awaiting response...
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  13.4MB/s    in 0.6s

2025-03-18 15:10:13 (13.4 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [5]:
!ls

DataEng_streaming_hw6.odt      hw6_streaming.ipynb
green_tripdata_2019-10.csv.gz  Untitled.ipynb

In [7]:
import os
import urllib.request
import zipfile
import pandas as pd

# File paths
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'
download_path = 'green_tripdata_2019-10.csv.gz'
unzipped_path = 'green_tripdata_2019-10.csv'

# 1. Check if the file is downloaded
if not os.path.exists(download_path):
    print("File not found, downloading...")
    urllib.request.urlretrieve(url, download_path)
else:
    print("File already downloaded.")

# 2. Check if the file is unzipped
if not os.path.exists(unzipped_path):
    print("File not unzipped, unzipping...")
    # Unzip the .gz file
    import gzip
    with gzip.open(download_path, 'rb') as f_in:
        with open(unzipped_path, 'wb') as f_out:
            f_out.write(f_in.read())
else:
    print("File already unzipped.")

# 3. Read the CSV file
df = pd.read_csv(unzipped_path)

# Display the first few rows of the DataFrame
df.head()

File already downloaded.
File not unzipped, unzipping...

/tmp/ipykernel_39435/377849078.py:30: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(unzipped_path)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [8]:
# import pandas as pd

# Read the dataset
# df = pd.read_csv('green_tripdata_2019-10.csv')

# Filter to keep only the specified columns
columns_to_keep = [
    'lpep_pickup_datetime',
    'lpep_dropoff_datetime',
    'PULocationID',
    'DOLocationID',
    'passenger_count',
    'trip_distance',
    'tip_amount'
]
df = df[columns_to_keep]

In [9]:
df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,passenger_count,trip_distance,tip_amount
0,2019-10-01 00:26:02,2019-10-01 00:39:58,112,196,1.0,5.88,0.00
1,2019-10-01 00:18:11,2019-10-01 00:22:38,43,263,1.0,0.80,0.00
2,2019-10-01 00:09:31,2019-10-01 00:24:47,255,228,2.0,7.50,0.00
3,2019-10-01 00:37:40,2019-10-01 00:41:49,181,181,1.0,0.90,0.00
4,2019-10-01 00:08:13,2019-10-01 00:17:56,97,188,1.0,2.52,2.26

In [10]:
from time import time

t0 = time()
topic_name = 'green-trips'

for index, row in df.iterrows():
    message = row.to_dict()
    producer.send(topic_name, value=message)

# Flush to ensure all messages are sent
producer.flush()
t1 = time()
took = t1 - t0
print("Time taken:", took, "seconds")

Time taken: 35.17482042312622 seconds

In [11]:
##table for results from pyflink script
import psycopg2

def create_table_if_not_exists():
    conn = psycopg2.connect(
        host="localhost",
        port=5432,
        database="postgres",
        user="postgres",
        password="postgres"
    )
    conn.autocommit = True
    cur = conn.cursor()
    cur.execute("""
        CREATE TABLE IF NOT EXISTS longest_sessions (
            pu_location_id INT,
            do_location_id INT,
            session_start TIMESTAMP,
            session_end TIMESTAMP,
            trip_count BIGINT
        );
    """)
    cur.close()
    conn.close()

In [ ]:
#ERROR: there is no unique or exclusion constraint matching the ON CONFLICT specification
#due to that error alter the table or create from scratch with the constraints

In [ ]:
ALTER TABLE longest_sessions
ADD CONSTRAINT longest_sessions_pak
PRIMARY KEY (pu_location_id, do_location_id);

In [ ]:
CREATE TABLE longest_sessions (
    pu_location_id INT,
    do_location_id INT,
    session_start TIMESTAMP,
    session_end TIMESTAMP,
    trip_count BIGINT,
    PRIMARY KEY (pu_location_id, do_location_id)
);

In [ ]:
## RESULTS IN POSTGRES
SELECT * FROM longest_sessions ORDER BY trip_count DESC;
+----------------+----------------+---------------------+---------------------+------------+
| pu_location_id | do_location_id | session_start       | session_end         | trip_count |
|----------------+----------------+---------------------+---------------------+------------|
| 95             | 95             | 2019-10-16 18:18:42 | 2019-10-16 19:26:16 | 44         |
+----------------+----------------+---------------------+---------------------+------------+
SELECT 1
Time: 0.006s

In [12]:
#checking results
import pandas as pd

df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_dropoff_datetime'])
filtered = df[
    (df['PULocationID'] == 95) &
    (df['DOLocationID'] == 95) &
    (df['lpep_dropoff_datetime'] >= '2019-10-16 18:18:42') &
    (df['lpep_dropoff_datetime'] <= '2019-10-16 19:26:16')
]
count_manual = len(filtered)
print(count_manual)

44

/tmp/ipykernel_39435/959424661.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_dropoff_datetime'])